<main class="zettelite">
    <div class="drawers-heading">
        <h2>Drawers</h2>
    </div>
    <div class="desk-heading">
        <h2>Desk</h2>
    </div>
    <div class="drawers-column">
        <button class="button add-drawer-button" id="add-drawer-button">Add a new Drawer</button>
        <div class="drawers-container"></div>
    </div>

    <div class="card-container">
    <!-- CARDS ARE INSERTED HERE -->
    </div>
</main>

<div class="modal modal-folder" id="folder-modal">
    <div class="header">
        <label for="new-folder">Give your folder an awesome title:</label>
    </div>
    <div class="modal-content">
        <input type="text" class="modal-text-input drawer" id="new-folder">
        <button class="button positive-button" id="folder-modal-save">Create Drawer</button>
        <button class="button negative-button" id="folder-modal-cancel">Cancel</button>
    </div>
</div>
<div class="modal modal-card" id="card-modal">
    <div class="modal-content">
        <input type="hidden" name="id" id="card-id-input" value="">
        <input type="hidden" name="drawer" id="card-drawer-input" value="">
        <input type="hidden" name="parent" id="card-parent-input" value="">
            <div class="title">
                <label for="card-title-input">Title: </label><input type="text" class="modal-text-input card-title" id="card-title-input" name="title">
            </div>
            <div class="content">
                <div id="quill"></div>
            </div>
        <div class="buttons">
            <button class="button positive-button" id="card-modal-save">Save Card</button>
            <button class="button negative-button" id="card-modal-cancel">Cancel</button>
        </div>
    </div>

</div>