:root {
    --main-blue: cadetblue;
    --theme-burgundy: rgba(137, 54, 96, 1);
    --theme-red: rgba(214, 102, 102, 1);
    --theme-orange: rgba(239, 114, 96, 1);
    --theme-green: rgba(103, 214, 147, 1);
    --theme-light-blue: rgba(160, 214, 226, 1);
    --theme-dark-blue: rgba(40, 156, 168, 1);
    --theme-light-grey: #ccc;
    --theme-mid-grey: #666;
    --theme-white: white;
    --theme-black: black;

    --background-color: var(--theme-light-blue);
    --disabled-text: var(--theme-mid-grey);
    --positive-action-color: var(--theme-green);
    --negative-action-color: var(--theme-red);
    --footer-background: var(--theme-black);
    --footer-text-color: var(--theme-white);

    --theme-border: 1px solid var(--theme-dark-blue);

    box-sizing: border-box;

}

* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}


.button {
    display: inline-block;
    cursor: pointer;
    color: var(--theme-white);
    background: var(--theme-dark-blue);
    padding: 1em;
}

.button.positive-button {
    background: var(--positive-action-color);
}

.button.negative-button {
    background-color: var(--negative-action-color);
}

.subtle {
    color: var(--theme-dark-grey);
    font-weight: 300;
    font-style: italic;
}

/**
MAIN PAGE STRUCTURE
*/
.zettelite {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: min-content 1fr;
}

.drawers-heading {
    padding: 0.5em 1em;
    background-color: var(--theme-dark-blue);
    border-right: 3px solid var(--theme-white);

    color: var(--theme-white);
}

.drawers-column {
    border-right: 3px solid var(--theme-dark-blue);
}

.add-drawer-button {
    background-color: var(--positive-action-color);
    color: white;
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

.drawer {
    position: relative;
    padding: 0;
    padding-top: 0.5em;
    margin: 0.25em;
    margin-bottom: 0.25em;
    cursor: pointer;
    border: 1px solid #ccc;

}

.drawer-title {
    position: relative;
    padding: 0.5em;
    margin: 0.1em;
}

.drawer:after {
    position: absolute;
    background-color: white;
    content: "";
    width: 20%;
    height: 0.5em;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ccc;
    top: -1px;
    border-top: 1px solid white;
    border-radius: 0 0 25% 25%;
    
    
  }
.drawer-card {
    border-top: 1px solid var(--theme-light-grey);
    border-radius: 10px 10px 0 0;
    box-shadow: 0 -1px 5px -2px rgba(0,0,0,0.3);
    padding: 0.5em 0.5em;
    margin: 0;
    cursor: pointer;
}

.desk-heading {
    padding: 0.5em 1em;
    background-color: var(--theme-dark-blue);
    color: var(--theme-white);
    border-right: 3px solid var(--theme-white);

}

.card-container {
    display: grid;
    grid-template-columns: calc(50% - 0.5em) calc(50% - 0.5em);
    column-gap: 1em;
    row-gap: 0.75em;
    padding: 0.75em 1em;
    grid-template-rows: min-content;
}
.card {
    border: var(--theme-border)
}

.card-header {
    display: grid;
    grid-template-columns: auto 1fr;
    border-bottom: var(--theme-border)
}

.card-header-buttons {
    justify-self: end;
}

.card-header-title {
    align-self: center;
    padding: 1em;
}

.card-save-button {
    background-color: var(--positive-action-color);
    display: none;
}
.card-cancel-button {
    
    display: none;
}
.card-content {
    padding: 1em;
}
.card-status-bar {
    border-top: var(--theme-border);
    border-bottom: var(--theme-border);
    display: grid;
    column-gap: 1em;
    grid-template-columns: auto 1fr;
    align-items: center;
}
.card-links {
    padding: 0.5em 0;
    margin: 0 1em;
}

.card-links a {
    display: inline-block;
    align-self: start;
    padding: 0.5em;
    margin: 0.25em;
    text-decoration: none;
}

.edit-mode .card-edit-button {
    display: none;
}

.edit-mode .card-save-button {
    display: inline-block;
}
.edit-mode .card-cancel-button {
    display: inline-block;
}
 /* HEADER */
header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: baseline;
    margin: 1em;
}
header .logo-container {
    height: 3em;
    display: inline-block;
}

header .logo-container img {
    height: 100%;
    display: inline;
}
header h1 {
    display: inline-block;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 3em;
    color: var(--theme-dark-blue);
    margin: 0;
}

header h1:first-letter {
    font-size: 0;
}

/* EDITING OVERLAY - Meh. Not sure about this...
.overlay {
    position: absolute;
    left: -1000px;
    top: -1000px;
    width: 0px;
    height: 0px;
}

.edit-mode .overlay {
    position: absolute;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(40px);
    z-index: 1;
}
*/

/* INPUTS */
input, textarea {
    border: 1px solid var(--theme-light-grey);
}

.idField, .idField:focus {
    border: none;
    outline: none;
    cursor: default;
    color: var(--disabled-text);
}

footer {
    display: grid;
    padding: 1em;
    background-color: var(--footer-background);
    border-top: 2px solid var(--theme-dark-blue);
    color: var(--footer-text-color);
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

footer a {
    text-decoration: underline;
    cursor: pointer;
}