<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/zettelite/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/zettelite/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/zettelite/favicons/favicon-16x16.png">
    <link rel="manifest" href="/zettelite/favicons/site.webmanifest">
    <link rel="mask-icon" href="/zettelite/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/zettelite/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/zettelite/favicons/browserconfig.xml">
    <meta name="theme-color" content="#289CA8">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Zettelite</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat+Alternates:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/zettelite/css/style.css">
</head>
<body>
    <header>
        <div class="logo-container"><img src="/zettelite/images/zettelite.svg" alt=""></div><h1>Zettelite</h1>
    </header>
    <main class="">
        <h2>About Zettelite</h2>
    </main>
    
    <footer>
        <div class="footer-col">
            <p>Zettelite is powered by:
                <ul>
                    <li><a href="https://github.com/DeadcowDesign/lunar">Lunar</a></li>
                    <li><a href="https://quilljs.com/">Quill</a></li>
                </ul>
            </p>
        </div>
        <div class="footer-col">
            <p><a id="backup">Backup your cards</a></p>
        </div>
        
    </footer>
</body>
</html>