    <main class="about">
        <h2>About Zettelite</h2>
        <div class="content">
            <h3>What is Zettelite?</h3>
            <p>Zettelite is a note-taking app based on the Zettelkasten method. Each note is part of a heirachy, allowing notes to link back to other notes.</p>
            <p>The Zettelite interface is based on a card indexing system. A cabinet has drawers, which in turn hold cards (which are your notes).
                On the main interface in the top right of the page, you can change your current Cabinet or add a new one. This will load all of the Drawers
                inside that cabinet.
            </p>
        </div>
    </main>